@page "/admin"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@using System.Text.Json.Serialization
@using global::Admin.Azure
@using global::Admin.Facebook
@using global::Azure.Data.AppConfiguration
@using global::Azure.Identity

@rendermode InteractiveServer

@inject IOptions<FacebookOptions> facebookOptions
@inject IHttpContextAccessor httpContextAccessor
@inject IHttpClientFactory httpClientFactory
@inject IOptions<AzureOptions> azureOptions
    
@attribute [Authorize(Policy = "Admin")]

<PageTitle>Bodyline Sports (Admin)</PageTitle>

<AuthorizeView Context="authContext" Policy="Admin">
    <Authorized>
        <a class="flex justify-end pr-2" href="/Account/SignOut">Hello, @authContext.User.Identity?.Name!</a>
        <label class="block">Facebook Access Token</label>
        <input type="password" class="w-full p-2 border border-gray-300 rounded" value="@UserAccessToken" @onchange="UpdateExpiry"/>
        <p class="mt-4">Token will expire on @TokenData?.ExpiresAt.ToString("dd MMM yy hh:mm:ss tt ")</p>
        <button type="button" @onclick="SaveToken">Save</button>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    class FacebookCode
    {
        public required string Code { get; set; }
    }

    class FacebookAccessToken
    {
        [JsonPropertyName("access_token")]
        public required string AccessToken { get; set; }
        [JsonPropertyName("machine_id")]
        public string? MachineId { get; set; }
    }

    private string? UserAccessToken { get; set; }
    private TokenData? TokenData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (UserAccessToken is not null)
        {
            TokenData = (await GetTokenDetailsAsync(UserAccessToken)).Data;
        }
        
        await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        if (httpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated ?? false)
        {
            var authFeatures = httpContextAccessor.HttpContext?.Features.Get<IAuthenticateResultFeature>();
            var userAccessToken = authFeatures!.AuthenticateResult!.Properties!.GetTokenValue("access_token");
            UserAccessToken = userAccessToken!;
        }

        base.OnInitialized();
    }
    
    private async Task<TokenDetails> GetTokenDetailsAsync(string token)
    {
        var url = $"/debug_token?input_token={token}&access_token={UserAccessToken}";
        var httpClient = httpClientFactory.CreateClient("Facebook");
        var tokenDetails = await httpClient.GetFromJsonAsync<TokenDetails>(url);
        return tokenDetails!;
    }
    
    private async Task<string> SwapForLongLivedTokenAsync()
    {
        var request = httpContextAccessor.HttpContext!.Request;
        var redirectUri = $"{request.Scheme}://{request.Host}/signin-facebook";
        var codeUrl = $"/oauth/client_code?client_id={facebookOptions.Value.AppId}&client_secret={facebookOptions.Value.AppSecret}&redirect_uri={redirectUri}&access_token={facebookOptions.Value.AccessToken}";
        var httpClient = httpClientFactory.CreateClient("Facebook");
        var code = await httpClient.GetFromJsonAsync<FacebookCode>(codeUrl);

        var tokenUrl = $"/oauth/access_token?client_id={facebookOptions.Value.AppId}&redirect_uri={redirectUri}&code={code!.Code}";    
        var token = await httpClient.GetFromJsonAsync<FacebookAccessToken>(tokenUrl);

        return token!.AccessToken;
    }

    private async Task SaveToken()
    {
        const string AccessTokenKey = $"{nameof(FacebookOptions)}:{nameof(FacebookOptions.AccessToken)}";
 
        ConfigurationClient client;
        if (string.IsNullOrWhiteSpace(azureOptions.Value.AppConfigurationConnectionString))
        {
            client = new ConfigurationClient(azureOptions.Value.AppConfigurationEndpoint, new DefaultAzureCredential());
        }
        else
        {
            client = new ConfigurationClient(azureOptions.Value.AppConfigurationConnectionString);
        }
        await client.SetConfigurationSettingAsync(new ConfigurationSetting(AccessTokenKey, UserAccessToken));
    }

    private async Task UpdateExpiry()
    {
        TokenData = (await GetTokenDetailsAsync(UserAccessToken ?? string.Empty)).Data;
    }
}