@using Microsoft.Extensions.Options
@using Web.Facebook

@inject ILogger<About> logger
@inject FacebookApiClient facebookApiClient
@inject IOptions<FacebookOptions> options

<div class="p-2 text-center [grid-area:about] flex flex-col items-center">
    <a class="p-2 bg-white" href="/"><img class="w-96" src="/bodyline-sports-logo.jpg" alt="logo"></a>
    <p class="pt-2">@(Group?.Description ?? options.Value.DefaultAboutMessage)</p>
</div>

@code {
    private FacebookGroup? Group {get; set;}

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Group = await facebookApiClient.GetGroup();
        }
        catch (HttpRequestException e)
        {
            logger.LogError(e, "{exceptionMessage} getting group details for {groupId}", e.Message, options.Value.GroupId);
        }
    }
}    

