<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

<div class="fb-post" data-href="@ReelUrl" data-lazy="true" data-show-text="false" data-autoplay="true" data-width="400"></div>

@code {
    private string ReelEmbedUrl => $"https://www.facebook.com/plugins/video.php?href={Uri.EscapeDataString(ReelUrl.AbsoluteUri)}&show_text=false&t=0";

    [Parameter, EditorRequired]
    public Uri ReelUrl { get; set; }
}
