<iframe src="@ReelEmbedUrl" allowfullscreen="true" height="500"></iframe>

<div class="fb-video" data-href="@ReelUrl" data-allowfullscreen="true" data-width="500"></div>

@code {
    private string ReelEmbedUrl => $"https://www.facebook.com/plugins/video.php?href={Uri.EscapeDataString(ReelUrl!.AbsoluteUri)}&show_text=false&t=0";

    [Parameter, EditorRequired]
    public Uri? ReelUrl { get; set; }
}
