<div class="p-2 items-center [grid-area:logo] dark:[background:canvas] [background:canvastext] justify-around flex">
    <a class="" href="/"><img class="w-48 lg:w-96" src="/bodyline-sports-logo.png" alt="logo"></a>
</div>

@code {
}    

