@page "/"
@using Web.Components

<PageTitle>Bodyline Sports</PageTitle>

<div id="whats-on" class="grid grid-cols-[0_1fr_0] lg:grid-cols-[10rem_1fr_10rem] [grid-template-areas:'._main_.']">
    <div class="[grid-area:main] bg-slate-100 p-4 flex flex-col gap-4 justify-evenly">
        <FacebookPosts />
    </div>
</div>
