@using Web.Components
@inherits LayoutComponentBase

<div class="p-2">
    <header
        class="grid gap-x-4 border-b-2 border-black [border-color:canvastext] [grid-template-areas:'about''image''contact'] lg:[grid-template-areas:'about_about''image_contact'] lg:grid-cols-[1fr_auto] shadow-lg">
        <About />
        <Image />
        <Contact />
    </header>
    <main class="pt-4">
        @Body
    </main>
    <footer class="border-t-2 border-black p-1">
        <p>&copy; @DateTime.Now.Year </p>
    </footer>
</div>
